<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>servlet.index</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>servlets.Index</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>servlets.Admin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>user</servlet-name>
    <servlet-class>servlets.user</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteCategory</servlet-name>
    <servlet-class>servlets.DeleteCategory</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Index2</servlet-name>
    <servlet-class>servlets.Index2</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/servlet/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/servlet/Index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/servlet/Admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/servlet/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCategory</servlet-name>
    <url-pattern>/servlet/DeleteCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index2</servlet-name>
    <url-pattern>/servlet/Index2</url-pattern>
  </servlet-mapping>
</web-app>
