body {
	background-color: #FFFFFF;
	margin: 0px;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-y;
}
h4 {
	padding-left: 20px;
	background-color: #99CCFF;
}
.pic {
	padding-right: 20px;
	margin: 20px;
}

.footer {
	border-left-style: 20;
}
p {
	margin-left: 30px;
}
h3 {
	background-color: #FF3333;
}
.STYLE2 {
	padding-left: 30px;
}
.fa {
	padding: 10px;
	border-top-style: 0;
	border-right-style: 0;
	border-bottom-style: 0;
	border-left-style: 0;
}
